<div id="menu">
  <a routerLink="/" class="brand">
    <img src="../../../assets/spotify.png" alt="logo" />
    <h2>Spotify Favs</h2>
  </a>
  <nav>
    <ul class="links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/about">About</a></li>

      <div *ngIf="userProfileInfo != null; else noProfileInfoTemplate">
        <li class="profile-li"><a routerLink="/profile">Profile</a></li>
      </div>

      <div>
        <li>
          <a  *ngIf="userProfileInfo != null; else noProfileInfoTemplate" routerLink="/profile">
            <img id="oval-shape" src="{{ profilePhoto }}" alt="profile image"
          /></a>
        </li>
      </div>

      <ng-template #noProfileInfoTemplate> </ng-template>
    </ul>
  </nav>
</div>
