
<div id="menu">
  <a routerLink="/" class="brand">
    <img src="../../../assets/spotify.png" alt="logo">
    <h2>Spotify Favs</h2>
  </a>
  <nav>
    <ul class="links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/about">About</a></li>
      <li class="profile-li" ><a routerLink="/profile">Profile</a> </li>
      <li><img id="oval-shape"  src="../../../assets/account.png" alt="profile image"/></li>
    </ul>
  </nav>
  </div>
