<div class="home-container">
  <h1>These are your Spotify favorites artists</h1>

  <div class="search-container">
    <fa-icon [icon]="faSearch"></fa-icon>
    <input
      type="text"
      placeholder="Here you can search a artist..."
      (input)="search($event)"
      class="search-bar"
    />
  </div>

  <div class="artists-container" *ngIf="artists.length > 0; else noArtists">
    <form class="search-options" [formGroup]="searchForm">
      <label for="">Choose a time range:</label>
      <select
        name="time-range"
        class="time-range"
        (change)="changeTimeRange($event)"
      >
        <option value="short_term">Short Term</option>
        <option value="medium_term">Medium Term</option>
        <option value="long_term">Long Term</option>
      </select>

      <img
        class="tooltip"
        src="../../../assets/tooltip.png"
        alt="tooltip"
        title="Valid values: long_term (calculated from several years of data and including all new data as it becomes available), medium_term (approximately last 6 months), short_term (approximately last 4 weeks)"
      />

      <div class="quantity-option">
        <label for="">Quantity: </label>
        <input
          type="number"
          placeholder="Number of items to return. Default: 10"
          min="1"
          max="50"
          required
          (input)="checkMaximumValue($event)"
          formControlName="artistQuantity"
          class="artist-quantity"
        />
      </div>
      <button class="button-search" (click)="getUserTopArtists()">
        Search
      </button>
    </form>

    <div class="artists-container">
      <div class="artist" *ngFor="let artist of artists; index as i">
        <img
          class="artist-image"
          src="{{ artist.images[0].url }}"
          alt="{{ artist.name }}"
          (click)="redirect(artist)"
        />
        <div class="artist-information-container">
          <h2>{{ i + 1 }}º {{ artist.name }}</h2>
          <p class="artist-genres" >Genres: {{ getArtistGenres(artist) }}</p>
          <p>Popularity: {{ artist.popularity }}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noArtists>
    <h1>You must be logged in to access your data</h1>
  </ng-template>
</div>
