<div class="home-container">
  <h1>These are your Spotify Top Tracks</h1>
  <div class="search-container">
    <fa-icon [icon]="faSearch"></fa-icon>
    <input
      type="text"
      placeholder="Here you can find your most listened genres..."
      (input)="search($event)"
      class="search-bar"
    />
  </div>

  <div class="chart-search-container" *ngIf="artists.length > 0; else noTracks">
    <form class="search-options" [formGroup]="searchForm">
      <label>Choose a time range:</label>
      <select
        name="time_range"
        class="time-range"
        (change)="changeTimeRange($event)"
      >
        <option value="short_term">Short Term</option>
        <option value="medium_term">Medium Term</option>
        <option value="long_term">Long Term</option>
      </select>
      <img
        class="tooltip"
        src="../../../assets/tooltip.png"
        alt="tooltip"
        title="Valid values: long_term (calculated from several years of data and including all new data as it becomes available), medium_term (approximately last 6 months), short_term (approximately last 4 weeks)"
      />

      <div class="quantity-option">
        <label for="">Quantity: </label>
        <input
          type="number"
          placeholder="Number of items to return. Default: 10"
          min="1"
          max="50"
          required
          (input)="checkMaximumValue($event)"
          formControlName="artistsQuantity"
          class="tracks-quantity"
        />
      </div>
      <button class="button-search" (click)="getUserTopArtists()">
        Search
      </button>
    </form>

    <div class="chart-container">
      <app-doughnut-chart [chartItems]="chartItems"></app-doughnut-chart>
      <app-bar-chart [chartItems]="chartItems"></app-bar-chart>
    </div>
  </div>
  <ng-template #noTracks>
    <h1>You must be logged in to access your data</h1>
  </ng-template>
</div>
