
#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #777;
}

 .links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}



.links li {
  margin-right: 1em;
  margin-top: 3px;
  list-style: none;
}

.links a {
  padding: .1em .3em;
  cursor: pointer;
}
